<div class="inner-container">

  <div class="team-container">
    <img src="images/jazz-logo.png">
    <h4> Utah Jazz <br />Wins: {{utahData.wins}} Losses: {{utahData.losses}} </h4>
    <div class="together-game" ng-repeat="game in utahData" ng-class="{'even' : $index % 2 === 0}">
      Date: {{game.createdAt | date}} <br />
      Utah Jazz - {{game.homeTeamScore}} <br />
      {{game.opponent}} - {{game.opponentScore}} </br />
    </div>
  </div>

  </div>
  <div class="team-container">
    <img src="images/lakers-logo.png">
    <h4> Utah Jazz <br />Wins: {{losangelesData.wins}} Losses: {{losangelesData.losses}} </h4>
    <div class="together-game" ng-repeat="game in losangelesData" ng-class="{'even' : $index % 2 === 0}">
      Date: {{game.createdAt | date}} <br />
      Utah Jazz - {{game.homeTeamScore}} <br />
      {{game.opponent}} - {{game.opponentScore}} </br />
    </div>
  </div>

  </div>
  <div class="team-container">
    <img src="images/heat-logo.png">
    <h4> Utah Jazz <br />Wins: {{miamiData.wins}} Losses: {{miamiData.losses}} </h4>
    <div class="together-game" ng-repeat="game in miamiData" ng-class="{'even' : $index % 2 === 0}">
      Date: {{game.createdAt | date}} <br />
      Utah Jazz - {{game.homeTeamScore}} <br />
      {{game.opponent}} - {{game.opponentScore}} </br />
    </div>
  </div>

</div>